*,
*::after,
*::before {
  box-sizing: border-box;
}

.credential {
  list-style: none;
  background: white;
  border: lightcoral 1px solid;
  border-radius: 2em;
  margin: 1em 0;
}

.service {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}
