*,
*::after,
*::before {
  box-sizing: border-box;
}

.credential {
  list-style: none;
  background: white;
  border: black 20px;
  border-radius: 5em;
  align-content: center;
  margin: 1em 0;
  width: 50rem;
  height: 7em;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}
