*,
*::after,
*::before {
  box-sizing: border-box;
}

.hero img {
  display: flex;
  margin-top: 0;
  padding: 0;
  height: 30em;
  transform: rotate(90deg);
}

.hero {
  display: grid;
  background: #d5cacd;
  color: black;
}
